 
.wrapper
  .side
    .top
      .top-box 
        test  
        =link_to "http://localhost:3000/users/edit", class: "top-box__icon" do
          = fa_icon 'cog'
        =link_to "http://localhost:3000/users/sign_out", class: "top-box__icon" do
          = fa_icon 'edit'
    .bottom
      .main
        .main__name
          test2
        .main__comment
          さようなら
      .main
        .main__name
          sample-group
        .main__comment
          hello!
      .main
        .main__name
          example
        .main__comment
          まだメッセージがありません
  .contents 
    .head
      .header
        .header__edit
          Edit
        .header__group
          test-group
        .header__member
          Member : test
    .messages
      = render partial: 'message', collection: @messages

    .footer
      
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
     
     